*{
    font-family: sans-serif;
}

body{
    margin-left: 15%;
    margin-right: 15%;
}



#photo{
    background-image: url("pp.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

#btn{font-size: 40px;}

#btn2{font-size: 30px;}

.w3-theme-b5 {color:#fff !important; background-color:#000080 !important}

.w3-theme-g5 {color:#fff !important; background-color:#004000 !important}

#title{font-size: 60px;}

main{
    margin-bottom: 270px;
}

@media only screen and (max-width: 956px) {
    body {
        margin:0px;
      }

    /* #btn{font-size:40px;} */

}

@media only screen and (max-width: 650px) {
    body {
      margin:0px;
    }
    #title{font-size: 50px;}

    #btn{font-size:15px;}

    #btn2{font-size:15px;}

    header{padding-top: 20px;}

    main{
        margin-bottom: 100px;
    }
  }
  